html{
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -webkit-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -moz-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -ms-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background-attachment: fixed;

}
#header{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 60%;
    height: 100px;
    border: solid;
    text-align: center;
    background: linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -webkit-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -moz-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -ms-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    border-radius: 25px;
}
#footer{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border: solid;
}
#body{
    float: right;
    width: 65%;
    border-radius: 25px;
    min-height: 800px;    
    margin-top: 30px;
    margin-bottom: 20px;
   
    padding: 20px; 
    margin-right: 15%;
    background: linear-gradient(bottom right, rgb(248, 244, 220), rgb(241, 227, 176));
    background: -webkit-linear-gradient(bottom right, rgb(248, 244, 220), rgb(241, 227, 176));
    background: -moz-linear-gradient(bottom right, rgb(248, 244, 220), rgb(241, 227, 176));
    background: -ms-linear-gradient(bottom right, rgb(248, 244, 220), rgb(241, 227, 176));     
}
#links{
    float: left;
     width: 10%; 
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid;
    border-radius: 15px 50px 30px;
    background-color: lightslategray;
}
a{
    color: inherit;
}
.clear{
    clear: both;
}
.clear-left{
    clear: left;
}
#login-control{
    float: right;
   
    width: 15%;
    padding: 5px;
    height: 90px;
}
#password{
    margin: 5px;
}
#username{
    margin: 5px;
}
#login-buttons{
    margin-top: 10px;
}
#login-control input[type="text"], input[type="password"]{
    float: right;
    background: linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -webkit-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -moz-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -ms-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
}
#LoginControl_btnLogin{
    float: left;
    margin-left: 5px;
}
#LoginControl_btnCreateAccount{
    float: right;
    margin-right: 5px;
}
.nav-item{
    border:solid;
    border-width: 1px;
    height: 20px;
    width: 90%;
    background: linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -webkit-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -moz-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -ms-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    margin-top: 10px;
    text-align: center;
    margin-left: 5%;
    padding: 2px;
    border-radius: 25px 5px 30px;
}
.data-entry{
    width: 400px;
    clear: both;
    font-weight: 700;
    margin: 10px;
}
.data-entry input[type="text"], .data-entry select{
     float: right;
    background: linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -webkit-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -moz-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
}
.error-msg {
    color: red;
}
.collapse {
    margin-top: 20px;
    border: solid;
    background-color: lightgray;
    border-radius: 5px 50px 30px;
    padding: 15px;
    border-width: 2px;
}
.collapse h2{
    text-decoration: underline;
}
.hide-grid-column{
    display: none;
}

.inventory-item{
    border: solid;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    
}
.inventory-item img{
    float: left;
    width: 100px;
    height: 100px;
}
.inventory-item a{
    font-weight: 600;
    
}
.inventory-item input[type="button"]{
    float: right;
}
.inventory-short-description{
   
    margin: 10px;
}
.inventory-item .item-price{
    
    
}
.inventory-view-item{
    width: 100%;
    display: block;
}
.inventory-view-item .inventory-image{
    overflow: hidden;
}
.inventory-long-description{
    width: 500px;
}
.inventory-view-item .item-price{
    float: right;
    font-weight: 600;
}

.inventory-view-item .cart-button{
    float: left;    
}

.cart-button input[type="button"]{
    background: linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -webkit-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -moz-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
    background: -ms-linear-gradient(top right, rgb(128, 128, 128), rgb(255, 255, 255));
}
.cart-item{
    margin: 50px;
}

.cart-item img{
    width: 100px;
    height: 100px;
    display: inline-block;
    float:left;
}
.cart-item .inventory-short-description{
    float:left;
}
.cart-item-checkbox{
    width: 400px;    
}
.cart-item-checkbox input[type=checkbox]{
   
    float: left;
}
.cart-item-checkbox label{
   font-weight: 600;
   font-style: oblique;
}
.cart-item a{
   margin-left: 50px;   
}

#cart-order-now{
    float:left;
}

#cart-remove-item{
    float:left;
    margin-left: 50px;
}
.order-item-repeater{
    background-color: lightgray;
    border: solid;
    padding: 10px;
    margin: 10px;
}

.order-item{
    border: inset;
    margin: 10px;
}
.order-price{
    font-weight: 600;
}

.my-order{
    border: solid;
    background-color: lightgray;
    padding: 20px;
    margin: 20px;
}
.my-order-item{
    margin-left: 20px;
}
#order-processing{
    border: solid;
    background-color: lightgray;
    padding: 20px;
}
.user-info span{
    font-weight: 600;
}
.payment-information span{
    font-weight: 600;
}
.order-info span{
    font-weight: 600;
}
.inventory-list .nav-item{
    width: 300px;
    margin-left: 25%;    
}
.purchase-order-item{
    background-color: lightgray;
    border: solid;
    margin: 5px;
    padding: 5px;
    width: 300px;
}
#repeater-purchase-order{
    padding: 10px;
    border-radius: 25px 5px 30px;
    border: solid;
    width: 500px;
    margin: 10px;
}
.order-processing{
    border: solid;
    padding: 10px;
}
.user-info{
    border: solid;
    padding: 10px;
    margin: 10px;
}
.payment-information{
    border: solid;
    padding: 10px;
    margin: 10px;
}
.order-info{
    border: solid;
    padding: 10px;
    margin: 10px;
}
.order-items{
    padding: 10px;
    margin: 10px;
}

